.u-section-1 .u-sheet-1 {
  min-height: 594px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 79px;
  margin-bottom: 0;
  position: relative;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-3 {
  padding: 14px 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -24px auto 0 78px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-7 {
  padding: 14px 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 16px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: -24px auto 0 78px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: -263px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2194px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1489px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 239px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 239px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 239px;
  }
}